@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-heading: "Plus Jakarta Sans", sans-serif;
    --font-body: "Montserrat", sans-serif;

    --color-turquoise: #22B4AB;
    --color-coral: #FF4043;
    --color-yellow: #FEC920;
    --color-navy: #0F2A4A;
    --color-indigo: #E2EFF9;

}

html {
    overflow-x: hidden
}